<ion-content class="ion-padding">
  <div class="flex flex-col justify-center h-full max-w-md mx-auto">
    <div class="mb-4 grid gap-3">
      <h1 class="text-2xl text-center font-bold text-primary">Register</h1>
      <p class="text-center text-[14px] font-Basic-commercial-roman">
        Please fill in the information below:
      </p>
    </div>

    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="px-4">
      <!-- input fields -->
      <div class="grid gap-0">
        <ion-item lines="none">
          <ion-input type="text" label="Name" labelPlacement="floating" placeholder="Enter your name"
            formControlName="name" errorText="Please enter your name"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input type="email" label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"
            errorText="Invalid Email Address"></ion-input>
        </ion-item>

        <!-- <ion-item lines="none" class="relative">
          <ion-input type="password" label="Password" labelPlacement="floating" placeholder="Password"
            formControlName="password" errorText="Invalid Password"></ion-input>
        </ion-item> -->

        <ion-item lines="none" class="relative">
          <ion-input [type]="showPassword ? 'text' : 'password'" label="Password" labelPlacement="floating" placeholder="Password"
            formControlName="password" errorText="Invalid Password" autocomplete="new-password"></ion-input>
          <ion-button fill="clear" size="small" class="absolute right-2 top-[22px] z-10" type="button" (click)="showPassword = !showPassword">
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item lines="none" class="relative">
          <ion-input type="number" label="Phone Number" labelPlacement="floating" placeholder="Enter your phone number"
            formControlName="phone" errorText="Invalid phone number"></ion-input>
        </ion-item>
      </div>

      <!-- consent checkboxes -->
      <div class="grid gap-0 mt-4">
        <ion-item lines="none" class="disable-ripple-effect text-[12px]">
          <ion-checkbox slot="start" formControlName="marketingConsent"></ion-checkbox>
          <ion-label>Yes, I have read the <a href="https://www.termsfeed.com/live/a3dd503d-0ab8-4125-ac8c-888f5a068622" target="_blank" class="text-[#031fee]"> Privacy Policy. </a></ion-label>
        </ion-item>

        <div *ngIf="(
          (signUpForm.get('marketingConsent')?.invalid && (signUpForm.get('marketingConsent')?.touched || signUpForm.get('marketingConsent')?.dirty)) || 
          (signUpForm.get('dataProcessingConsent')?.invalid && (signUpForm.get('dataProcessingConsent')?.touched || signUpForm.get('dataProcessingConsent')?.dirty))
          )" class="text-danger text-xs px-4 mt-1">
          Please check all required consents to continue.
        </div>
      </div>

      <ion-button expand="block" class="h-6 mt-6 rounded-lg text-base font-bold normal-case mx-0" type="submit">
        Create my account
      </ion-button>
      <div class="text-center mt-4 text-[12px]">
        <ion-text color="medium">
          Already have an account?
          <a class="text-primary hover:underline cursor-pointer font-bold" (click)="navigateToLogin()">
            Login</a>
        </ion-text>
      </div>
    </form>
  </div>
</ion-content>