<ion-content class="ion-padding">
  <div class="flex flex-col justify-center h-full max-w-md mx-auto">
    <div class="mb-4 grid gap-3">
      <h1 class="text-2xl text-center font-bold text-primary">Recover password</h1>
      <p class="text-center text-[14px] font-Basic-commercial-roman">
        Please enter your e-mail:
      </p>
    </div>

    <form [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()" class="px-4">
      <!-- input fields -->
      <div class="grid gap-0">
        <ion-item lines="none">
           <ion-input
            type="email" 
            label="Email"
            labelPlacement="floating"
            placeholder="Email"
            formControlName="email"
            errorText="Invalid Email Address"
          ></ion-input>
        </ion-item>
      </div>

      <ion-button
        expand="block"
        class="h-6 mt-6 rounded-lg text-base font-bold normal-case mx-0"
        type="submit"
      >
        Recover
      </ion-button>

      <div class="text-center mt-4 text-[12px]">
        <ion-text color="medium">
          Remember your password?
          <a class="text-primary hover:underline cursor-pointer font-bold" (click)="navigateToLogin()">
            Back to login</a
          >
        </ion-text>
      </div>
    </form>
  </div>
</ion-content>
